<%# <form action="/users" method="post" accept-charset="UTF-8"> %>
  <%# <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %>
  <%# <label for="username">Username:</label> %>
  <%# <input type="text" name="user[username]" id="username"> <br> %>
  <%# <label for="email">E-mail:</label> %>
  <%# <input type="email" name="user[email]" id="email"> <br> %>
  <%# <label for="password">Password:</label> %>
  <%# <input type="password" name="user[password]" id="password"> <br> %>
  <%# <input type="submit" value="Create User"> %>
<%# </form> %>



<%= form_with model: @user do |form| %>
  <%= form.label :username%>
  <%= form.text_field :username, placeholder: 'Your Username Here' %> <br>
  <%= form.label :email, value: 'E-mail' %>
  <%= form.email_field :email, placeholder: 'exampler@email.com'%> <br>
  <%= form.label :password %>
  <%= form.password_field :password %> <br>
  <%= form.submit %>
<% end %>
